@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Fasthand&family=Island+Moments&family=Montserrat&family=Poppins:ital,wght@1,200;1,400&family=Raleway:ital@1&family=Roboto:ital,wght@1,100&family=Sacramento&family=Shalimar&family=Solway&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    
}

.App{
    font-family: sans-serif;
    text-align: center;
}